.top-pane {
  min-height: 300px; /* Ensures it doesn't get too short on mobile */
  max-height: 400px; /* Caps the height on large screens */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 3.5rem 0rem;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@media (max-width: 768px) {
  .top-pane {
    padding: 1rem 0rem 3.5rem 0rem;
  }
}

.top-pane-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.nav-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: center; /* Center horizontally */
  gap: 0rem; /* Smaller gap between name and position */
  padding: 0rem 0rem 0rem 0rem; /* Add padding for nicer spacing */
  margin: 0 auto;
  width: fit-content; /* Fits content but with padding */
  z-index: 10;
  color: #ffffff;
}

.title-container h1,
.title-container h3 {
  align-items: center;
  margin: 0; /* Removes default vertical margin */
  padding: 0;
}

.title-container h1 {
  margin-bottom: 0rem; /* Optional fine-tuned spacing between name and position */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
